
img{
    width: 100%;
    height:200px;
    max-height:200px;
}

#nav_font {
    font-size: 20px;
    background-color: grey;
    color: whitesmoke ;
}

 
 .navbar-nav .nav-link:hover {
    border-top: 4px solid #000000;
    border-bottom: 4px solid #f50606;
    padding: 6px 0;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #7eb444;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

#footer_font a {
    font-size: 20px;
    color: black ;
}

 html#index  #footer_font a ,
 html#promo #footer_font a ,
 html#feedbackResponse #footer_font a {
    text-align: center;
    color: whitesmoke ;
 }

 html#index #footer ,
 html#promo #footer {
    background-color: black;
    opacity: 0.6  ; 
 }
 
 html#feedbackResponse #footer_font a {
    text-align: center;
    color: whitesmoke ;
    background-color: black;
    opacity: 0.7 ; 
 }

 .carouselimg{
    width: 100%;
    height:300%;
}
img{
    width: 100%;
    height:100%;
    /*max-height:200px;*/
}

.carousel-inner img { 
    max-width:80%;
    max-height:80%;
    width: auto; 
    height: auto; 
}

